.tag-container {
  height: 84rpx;
  display: flex;
  padding: 0 20rpx;
  background-color: #fff;
  box-sizing: border-box;

  .tag-ls {
    width: 660rpx;
    display: flex;
    justify-content: flex-start;

    .tag-ls_container {
      display: flex;
      align-items: center;

      .tag-item {
        width: 160rpx;
        height: 50rpx;
        margin-right: 10rpx;
        line-height: 50rpx;
        text-align: center;
        font-size: 24rpx;
        background-color: #f5f5f5;
        border-radius: 5rpx;
        color: #67686f;
      }

      .tag-item_checked {
        background-color: #ff6759;
        color: #fff;
      }
    }
  }



  .tag-icon {
    width: 50rpx;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.popup-container {
  padding: 30rpx;
  box-sizing: border-box;

  .popup-ls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .popup-item {
      width: fit-content;
      height: 75rpx;
      padding: 0 35rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 26rpx;
      background-color: #f5f5f5;
      border-radius: 5rpx;
      color: #67686f;
    }

    .popup-item_checked {
      border: 1rpx solid #e94359;
      background-color: #fef9f7;
      box-sizing: border-box;
    }
  }

  .popup-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      width: 340rpx;
      border-radius: 20rpx;
      font-size: 34rpx;
    }

    .reset-btn {
      background: #f8f8f9;
      color: #8b8c90;
    }

    .submit-btn {
      background: #ff6759;
      color: #fff;
    }
  }
}